<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STVProject2-1-17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45B181C21F53FE3B00F92F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B181DE1F53FE3B00F92F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B181E91F53FE3B00F92F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
