<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STVProject2-1-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45C9ED171F440A5D00850248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C9ED331F440A5D00850248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C9ED3E1F440A5D00850248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
