<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellImageName</key>
	<array>
		<string>AlcatrazIsland</string>
		<string>AngkorWat</string>
		<string>GrandCanyon</string>
		<string>Colosseum</string>
		<string>TajMahal</string>
		<string>BuckinghamPalace</string>
		<string>HalongBay</string>
		<string>Petraruins</string>
		<string>MachuPicchu</string>
	</array>
</dict>
</plist>
